<section id="gallery" class="section">
  <h2>Примеры наших работ</h2>
  <div class="gallery-grid">
    @for (album of albums; track trackByAlbumId($index, album)) {
      <article class="gallery-album" (click)="onAlbumClick(album)">
        <img [src]="album.preview" [alt]="album.title" class="gallery-image" />
        <div class="gallery-info">
          <h3>{{ album.title }}</h3>
          <p>{{ album.description }}</p>
          <div class="album-stats">
            <i class="pi pi-images"></i>
            {{ album.images.length }} фото
          </div>
        </div>
      </article>
    }
  </div>
</section>
