<section class="hero" [style]="backgroundStyle">
  <div class="hero-content">
    <h1>Предоставление доступа к ремонту труб с сохранением плитки.</h1>
    <p>
      Опытный мастер-строитель. Предоставление доступа к ремонту сантехнических труб с сохранением
      притки. Работаю по Москве и области.
    </p>
    <div class="hero-buttons">
      <a [href]="phoneLink" class="cta-button phone-button">
        <i class="pi pi-phone"></i>
        Вызвать мастера
      </a>
      <a [href]="whatsappLink" target="_blank" class="cta-button whatsapp-button">
        <i class="pi pi-whatsapp"></i>
        Написать
      </a>
    </div>
  </div>
</section>
