<app-header></app-header>

<main>
  <app-hero [backgroundImage]="heroBackgroundImage" [gradient]="heroGradient"> </app-hero>

  <app-services [services]="services"></app-services>

  <app-process [workProcess]="workProcess"></app-process>

  <app-reasons [reasons]="reasons"></app-reasons>

  <!-- <app-gallery [albums]="galleryAlbums" (albumClick)="openGalleryModal($event)"> </app-gallery>-->

  <app-reviews></app-reviews>
</main>

<app-footer></app-footer>

<app-gallery-modal
  [visible]="modalVisible"
  [albums]="galleryAlbums"
  [currentAlbumId]="currentAlbumId"
  [initialImageIndex]="initialImageIndex"
  (close)="closeGalleryModal()"
>
</app-gallery-modal>
